<%= link_to 'Sign out', destroy_user_session_path , :method => :delete %>
<h1>Hi <%= @user %></h1>
<h2>This is home page</h2>
<img src="http://blog.bestsoftware4download.com/wp-content/uploads/2011/04/ruby-on-rails.jpg" />
